body {
  padding: .5em;
}

.descriptionInput {
  height: 25rem;
}

.formSubmit {
  margin: 1em auto 0 auto ;
}

@media screen and (min-width: 940px){
  .checkboxFeild {
    display: grid;
    grid-template-columns: auto auto auto;
  }
}
